#aboutSection {
    background-color: var(--background-color-light-theme);
    position: relative;

}

#aboutSection h1 {
    color: var(--headline-color-light-theme);
    font-size: 2.5rem;
}

#aboutSection h5 {
    color: var(--headline-color-light-theme);
}



.animation-text h4 {
    text-align: center;
    color: #323438;
}

.animation-text p {
    text-align: center;
    color: #34c7b6;
    font-weight: 100px;
    font-weight: bold;
}



.about {
    padding: 0rem 3rem;
    background: #f8f8f8;
    background-color: var(--BackgroundPage-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: black; */

}


.row {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    /* background-color: black; */
    width: 100%;
    align-items: center;
    /* color: #000; */
}

.row .column {
    width: 100%;
    /* background-color: black; */
}

.column .tabs {
    display: flex;
}

.single-tab {
    background-color: var(--Item-color);
    margin-right: 10px;
    cursor: pointer;
}

.single-tab:hover {
    background-color: #4a515c;
    border: solid 1px #34c7b6;
}

.single-tab h2 {
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--button-text-color-light-theme);
    font-size: 0.8rem;
    font-weight: 600;
}

.about-img {
    /* position: relative; */
    background-image: url("../assets/Graduation_hat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: solid 2px var(--stroke-color-light-theme);
    margin: 0 auto;

}


.content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: none;
    /* background-color: red; */
    max-width: 1500px;
    /* color: #000; */

}



.active-content {
    display: block;
}



.active-tab {
    background-color: transparent;
    border: 1px solid var(--active-color);
    position: relative;
}



.active-tab::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: var(--button-text-color-light-theme) transparent transparent;
    color: #fff;

}

.active-tab h2 {
    color: var(--button-text-color-light-theme);
}

.content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.content p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 300;
    color: var(--paragraph-color-light-theme);
}

.content h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Skills Css */
.skills-row {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-column {
    margin-bottom: 30px;
    margin-right: 20px;
}


.progress-wrap h3 {
    font-size: 14px !important;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.icons-text {
    display: flex;
}

.progress {
    height: 8px;
    background: rgba(0, 0, 0, .05);
    overflow: visible;
}

.progress-bar {
    width: 80%;
    height: 8px;
    background: #18dcff;
    line-height: 1.2;
    position: relative;
    border-radius: 2px;
}

.progress-bar span {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    color: #18dcff;
}

/* Progress to display % */
.Java {
    width: 80%;
}

.React {
    width: 80%;
}

.Html_and_CSS {
    width: 90%;
}

.Bootstrap {
    width: 85%;
}

.Net_developer {
    width: 70%;
}

/* Experience */
.exp-column h3 {
    margin-bottom: 10px;
}

.exp-column span {
    font-weight: 500;
    color: #18dcff;
}

.exp-column p {
    margin-top: 10px;
}

.fade-in {
    /* opacity: 0;
    transition: opacity 0.1s ease-in;
    transition-duration: 1s; */
    transform: scale(0);
    transition: transform 2s ease-in;
    transition-duration: 0.7s;

}

.fade-out {
    /* opacity: 0;
    transition: opacity 0.1s ease-in;
    transition-duration: 1s; */
    transform: scale(1);
    transition: transform 2s ease-in;
    transition-duration: 1s;

}



/* Responsive on mobile and table devices */
@media screen and (max-width:768px) {
    .about {
        padding: 2rem 1rem 3rem 1rem;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .about-img {
        height: 200px;
        width: 200px;
    }

    .row .column {
        width: 100%;
    }

    .tabs {
        padding-top: 3rem;
    }

    .skills-row {
        grid-template-columns: 1fr;
    }
}