/* Left side contact blocks */
.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background-color: red;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
}

.contact__option:hover {
    background-color: transparent;
    border: 1px solid #dfebea;
}

.contact__option_icon {
    font-size: 1.3rem;
}

/* Right side contact form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.6rem;
    background-color: transparent;
    border: 1px solid green;
    resize: none
}

@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        /* width: 100%; */
    }
}

@media screen and (max-width:600px) {
    .container.contact__container {
        /* width: var(--container-width-sm); */
    }
}