#contactSection {
    position: relative;
}

.custom-shape-divider-bottom-1704789664 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1704789664 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 32px;
}

.custom-shape-divider-bottom-1704789664 .shape-fill {
    fill: #FFFFFF;
}

h5,
h2 {
    color: #fff;
}

/* Left side contact blocks */
.container.contact__container {
    padding-top: 4rem;
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background-color: var(--Item-color);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* .contact__option a {
    text-decoration: none;
    color: #4a515c;
} */



.fade-in {
    /* opacity: 0;
    transition: opacity 0.1s ease-in;
    transition-duration: 1s; */
    transform: scale(0);
    transition: transform 2s ease-in;
    transition-duration: 0.7s;

}

.fade-out {
    /* opacity: 0;
    transition: opacity 0.1s ease-in;
    transition-duration: 1s; */
    transform: scale(1);
    transition: transform 2s ease-in;
    transition-duration: 1s;

}

.contact__option:hover {
    background-color: #4a515c;
    border: 1px solid #34c7b6;
    color: #fff;


}

.contact__option_icon {
    font-size: 1.3rem;
}

/* Right side contact form */


/* Before animation */
/* form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
} */

/* new for animation */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 1.6rem;
    background-color: transparent;
    border: 2px solid #34c7b6;
    resize: none;
    color: #fff;
    /* font-size: 1rem; */
}

.btnStyle {
    background-color: #34c7b6;
    color: #fff;
    width: 10rem;
    height: 3rem;
}

.btnStyle:hover {
    background-color: #4a515c;
    border: 1px solid #34c7b6;
    color: #fff;
}

@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 3rem 1rem;
    }
}

@media screen and (max-width:600px) {
    .container.contact__container {
        /* width: var(--container-width-sm); */
    }
}