/* Left side contact blocks */
.container.contact__container {
    padding-top: 4rem;
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background-color: var(--Item-color);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0.1rem 0.1rem #000;
}

.fade-in {
    /* opacity: 0;
    transition: opacity 0.1s ease-in;
    transition-duration: 1s; */
    transform: scale(0);
    transition: transform 2s ease-in;
    transition-duration: 0.7s;

}

.fade-out {
    /* opacity: 0;
    transition: opacity 0.1s ease-in;
    transition-duration: 1s; */
    transform: scale(1);
    transition: transform 2s ease-in;
    transition-duration: 1s;

}

.contact__option:hover {
    background-color: transparent;
    border: 1px solid green;
}

.contact__option_icon {
    font-size: 1.3rem;
}

/* Right side contact form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 1.6rem;
    background-color: transparent;
    border: 1px solid green;
    resize: none
}

@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 3rem 1rem;
    }
}

@media screen and (max-width:600px) {
    .container.contact__container {
        /* width: var(--container-width-sm); */
    }
}