footer {
    background-color: #34c7b6;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    /* animation: animate 30s linear infinite; */
    background-size: 1000px 10px;
}

/* @keyframes animate {
    0% {
        background-position-x: 0;

    }

    100% {
        background-position: 10000px;
    }
} */

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}

button:hover {
    color: #4a515c;
}

footer img {
    display: inline-block;
    width: 5rem;
    height: 3.6rem;
    cursor: pointer;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto 1rem;
}


.social__media {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 2rem;
    margin-bottom: 2rem;

}


.social__media a {
    background: grey;
    color: white;
    padding: 0.4rem;
    border-radius: 0.7rem;
    display: flex;
    background-color: transparent;
    border: 1px solid #4a515c;
    transition: transform 0.3 ease-in-out;
}

.social__media a:hover {
    background-color: #4a515c;
    transform: scale(1.1);
}

.social__media .facebook {
    color: #1877F2;

}

.social__media .whatsapp {
    color: #25D366;

}

.social__media .twitter {
    color: #1DA1F2;

}

.social__media .linkedin {
    color: #0077b5;

}

@media screen and (max-width:600px) {
    footer ul {
        flex-direction: column;
        gap: 1.5rem;
    }


}