/* #homeSection {
    background-color: brown;
    position: relative;
    padding-left: 6rem;
}

.imgContent {
    background-image: url(../assets/Graduation.jpg);
    background-size: cover;
    background-position: center;

}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 3rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

}

.Hello {
    font-size: 1rem;
}

.introText {
    font-size: 3rem;
    font-weight: bold;

}

.introName {
    color: yellow;
}

.introPara {
    font-size: 1.2rem;
}

@media (max-width:430) {
    .introText {
        font-size: 1rem;
        font-weight: bold;

    }
} */