#homeSection {
    background-image: url("../assets/Graduation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.introContent {
    margin-top: 10rem;
    width: 60%;
    padding: 3rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

}

.Hello {
    font-size: 1rem;
}

.introText {
    font-size: 3rem;
    font-weight: bold;

}

.introName {
    color: yellow;
}

.introPara {
    font-size: 1.2rem;
}

@media (max-width:430) {
    .introText {
        font-size: 1rem;
        font-weight: bold;

    }
}