section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* section min-height (height:100vh) */
    min-height: 100vh;
    background-color: var(--BackgroundPage-color);
    border: 2px solid #000;
    color: var(--White-color);

}