section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* section min-height (height:100vh) */
    min-height: 100vh;
    /* background-color: var(--BackgroundPage-color); */


    /* Background-Image */
    /* background-color: rgb(50, 52, 56); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #fff;
    /* color: var(--White-color); */
    /* padding-top: 50px; */


}